$menu: #141a1f;
$active: #5a5a5a;
$more-info: #141a1f;

$vin-r: #47091a;
$vin-btn: #565E60;

$text-1: #ffffff;
$breadcrumbs: #2a3138;
$breadcrumbs-text: #777777;
$bandeau-text: #47091a;

$decouverte-text-2: #a5a5a5;
$decouverte-btn: #2a3138;

$footer-color: #2a3138;
$footer-block: #383e44;

$side-color: #edeaea;

$family-1: 'Saira Extra Condensed', sans-serif;