.header {
    $menu_height: 75px;

    background-color: $menu;
    display: flex;
    justify-content: center;


    &__logo {
        height: $menu_height;
        transform: scale(1.2);
    }

    &__nav {
        margin-top: 0!important;
        margin-bottom: 0!important;
        max-width: 75rem;
    }

    & nav > ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin-bottom: 0;
    }
    
    & nav > ul > li {
        padding: 10px 30px 10px 30px;
        height: $menu_height;
        display: flex;
        align-items: center;
        border-bottom: 4px solid transparent;
        cursor: pointer;
        position: relative;
    }

    & nav > ul > li:first-child {
        margin-right: auto;
    }

    & nav > ul > li:not(&__logo__li)::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 20px;
        background-color: $active;
        position: absolute;
        right: 0;
    }

    & nav > ul > li:not(&__logo__li).active {
        border-bottom: 4px solid $active;
    }

    & nav > ul > li:not(&__logo__li):hover {
        border-bottom: 4px solid $active;
    }

    & nav > ul > li > a {
        color: $text-1;
        text-decoration: none;
        font-family: $family-1;
        font-size: 1.2rem;
    }
}

.menu {

    &__sub_left {
        background-color: #eee;

        &__content {
            padding: 30px 50px;
            min-height: 320px;
        }

        button {
            background-color: #565e60;
            padding: 15px 25px;
            color: $text-1;
            position: relative;
            border: 0 solid transparent;
            cursor: pointer;
            font-weight: bold;
        }

        button:hover {
            background-color: #3b4142;
            transition: all 200ms;
        }

        button::before {
            content: "";
            border: 1px solid rgba(255, 255, 255, 0.2);
            position: absolute;
            height: 80%;
            width: 92%;
            top:8%;
            left:3%;
        }

        button::after {
            content: ">>";
            padding-left: 5px;
            transition: all 200ms;
            position: relative;
            left: 0;
        }

        button:hover::after{
            content: ">>";
            left: 5px;
        }
    }

    &__sub_right {
        background-color: #ddd;

        &__content {
            padding: 10px 50px;
            //Same min-height left side + padding
            min-height: calc(320px + 40px);

            figure {
                display: flex;
                align-items: center;
                cursor: pointer;
            }
            
            figure .img-container {
                height: 90px;
                width: 180px;
                overflow: hidden;
                line-height: 0;
            }
            
            figure .img-container > img {
                transform: scale(0.90) translate(-10px, -10px);
                transition: transform 200ms;
            }
            
            figure:hover .img-container > img {
                transform: scale(1) translate(-10px, -10px);
            }

            figure > figcaption {
                padding-left: 20px;
            }
        }
    }
}