.header {
    $menu_height: 75px;

    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;


    &__logo {
        height: $menu_height;
    }

    &__nav {
        margin-top: 0!important;
        margin-bottom: 0!important;
        max-width: 75rem;
    }

    & nav > ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin-bottom: 0;
        padding-left: 20px;
    }
    
    & nav > ul > li {
        height: $menu_height;
        display: flex;
        align-items: center;
        border-bottom: 4px solid transparent;
    }

    & nav > ul > li:first-child {
        margin-right: auto;
    }

    & nav > ul > li:not(&__logo__li)::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 20px;
        background-color: $active;
        position: relative;
        right: 0;
    }

    & nav > ul > li:not(&__logo__li).active {
        border-bottom: 4px solid $active;
    }

    & nav > ul > li:not(&__logo__li):hover {
        border-bottom: 4px solid $active;
    }

    & nav > ul > li > a {
        color: $text-1;
        text-decoration: none;
        font-family: $family-1;
        font-size: 1.2rem;
        display: inline-block;
        padding: 27px 30px;
    }
}

.menu {
    $sub-menu-min-h: 350px;
    background-color: $menu;

    & .sub-menu {
        position: absolute;
        top: 95px;
        width: 100%;
        left: 0;
        right: 0;
        background-color: #ddd;
        border-bottom: 5px solid #fff;
        transform: scaleY(0.8);
        transform-origin: top center;
        visibility: hidden;
        opacity: 0;
        transition: all 250ms 150ms;
    }

    & li:hover .sub-menu {
        visibility: visible;
        opacity: 1;
        transform: scaleY(1);
    }

    &__sub_left {
        background-color: #eee;
        margin: 0!important;

        p {
            font-size: 1rem;
        }

        &__content {
            padding: 50px;
            min-height: $sub-menu-min-h;
            text-align: left;
        }

        button {
            background-color: #565e60;
            padding: 15px 25px;
            color: $text-1;
            position: relative;
            border: 0 solid transparent;
            cursor: pointer;
            font-weight: bold;
        }

        button:hover {
            background-color: #3b4142;
            transition: all 200ms;
        }

        button::before {
            content: "";
            border: 1px solid rgba(255, 255, 255, 0.2);
            position: absolute;
            height: 80%;
            width: 92%;
            top:8%;
            left:3%;
        }

        button::after {
            content: ">>";
            padding-left: 5px;
            transition: all 200ms;
            position: relative;
            left: 0;
        }

        button:hover::after{
            content: ">>";
            left: 5px;
        }
    }

    &__sub_right {
        background-color: #ddd;

        .more-info h3 {
            color: $decouverte-text-2;
            text-align: left;
        }

        .more-info p {
            text-align: left;
        }

        .more-info a {
            text-decoration: none;
            font-weight: bold;
        }

        .more-info a:hover {
            color: $more-info;
        }

        &__content {
            padding: 10px 0;
            //Same min-height left side + padding
            min-height: $sub-menu-min-h + 40px;

            figure {
                display: flex;
                align-items: center;
                cursor: pointer;
                text-align: left;
            }
            
            figure .img-container {
                height: 90px;
                width: 180px;
                min-width: 180px;
                overflow: hidden;
                line-height: 0;
            }
            
            figure .img-container > img {
                transform: scale(0.90) translate(-10px, -10px);
                transition: transform 200ms;
            }
            
            figure:hover .img-container > img {
                transform: scale(1) translate(-10px, -10px);
            }

            figure > figcaption {
                padding-left: 20px;
            }

            figure:hover > figcaption, figure:hover > figcaption strong {
                color: $dark-grey;
            }

        }
    }
    
}

.menu-m {
    background-color: $menu;
    display: none;

    & .header__logo {
        height: 40px;
    }
}

@media (max-width: $breakpoint-large) { 
    .menu {
        display: none;
    }
    .menu-m {
        display: block;

        .toggle {
            position: absolute;
            top: 0;
            margin: 0;
            width: 80px;
        }
        
        .toggle ul {
            list-style: none;
            margin: 0;
            width: 80px;
            height: 45px;
            padding: 8px;
            padding-left: 0;
        }

        .toggle ul li {
            height: 6px;
        }

        .toggle ul span {
            height: 2px;
            width: 20px;
            background-color: #fff;
            display: inline-block;
            transition: all 150ms ease-in-out;
        }

        .toggle ul:hover li:nth-child(2) span {
            transform: translateX(2px);
        }

        .toggle ul:hover li:nth-child(1) span,
        .toggle ul:hover li:nth-child(3) span {
            opacity: 0.6;
        }

    }
}